.textbox {
    border: 1px solid white;
    margin-top: -0.7rem;
}

.logintext {
    font-weight: 600;
    font-size: 1.5rem;
}

.heading {
    font-weight: 500;
}

.bottomgrid {
    margin-top: 1rem;
}

.Logindiv {
    border-bottom: none;
    align-items: center;
}

.Logindiv button {
    color: white;
    background-color:  #25AAE1;
    padding: 0.4rem 0rem;
    width: 100%;
    border: none;
    font-size: 1.3rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.Logindiv button:hover {
    cursor: pointer;
    color: white;
}

.signup {
    text-decoration: underline;
}

.signup:hover {
    cursor: pointer;
    color: white;
}

.loginicons:hover {
    cursor: pointer;
}

.forgot:hover {
    cursor: pointer;
    color: white;
}

.middleborder {
    border-right: 0.5px solid;
}

.account {
    padding-left: 1rem;
}

.text:hover {
    cursor: pointer;
    color:  #25AAE1;
}

@media only screen and (max-width: 320px) {
    .loginicons {
        height: 2rem;
    }

    .account {
        padding-left: 0.5rem !important;
    }
}