.img{
    width: 37px;
    height: 43px;
    margin-left: 1.5rem;
}
#Path130 {
    animation-name: padda;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000; 
    animation-duration:4s;
    animation-timing-function: ease-in;
    
    }
    #Path131 {
    animation-name: padda;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000; 
    animation-duration:4s;
    animation-timing-function: ease-in;
    animation-delay:1s;
    
    }
      @keyframes padda {
          to {
              stroke-dashoffset:0;
          }
      }
@media only screen and (max-width: 800px) {
    .img{
        max-width: 40px;
        max-height: 25px;
        margin-left: .5rem;
    }
}