.spantag{
    color:  #707070;
    font-size: 18px;
    font-weight: 500;
    display: inline;
    margin-left: .4rem !important;
    text-align: center;

}
.one{
    color:  #707070;
    font-size: 18px;
    font-weight: 500;
}